*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

* a{
  color: black;
}

.container {
  height: 100vh;
  overflow-x: auto;
}

.main-hdr {
  color: rgb(223, 248, 252);
  background-color: rgb(0, 138, 138);
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  position: sticky;
  left: 0;
}

.boards {
  height: 90%;
  background-color: rgb(2, 158, 157);
  padding: 1rem;
  display: inline-grid;
  grid-template-columns: repeat(5, 330px);
  grid-template-rows: 100%;
  grid-column-gap: 1rem;
  grid-template-areas: "ToDo InProgress Test Fix Done";
}

.ToDo {grid-area: ToDo;}
.InProgress {grid-area: InProgress;}
.Test {grid-area: Test;}
.Fix {grid-area: Fix;}
.Done {grid-area: Done;}

.board {
  height: 100%;
  background-color: rgb(220, 220, 220);
  padding: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  h3{
    margin: 0.5rem 0;
  }
}

.task-block{
  display: flex;
  flex-direction: column;
  .task{
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
}

.icons{
  display: flex;
  align-items: center;
  height: 2rem;
  list-style-type: none;
  padding: 0;
  gap: 0.5rem;

  .justify{background: url('IMG/justify_26.png') no-repeat left center;}
  .progress{background: url("IMG/checkbox_26.png") no-repeat left center;}
  .attach{background: url("IMG/attach_26.png") no-repeat left center;}
  .comments{background: url("IMG/comments_26.png") no-repeat left center;}
  .a1{background: url('IMG/avatar_1.png') no-repeat center;}
  .a2{background: url('IMG/avatar_2.png') no-repeat center;}
  .a3{background: url('IMG/avatar_3.png') no-repeat center;}
  .a4{background: url('IMG/avatar_4.png') no-repeat center;}

  .justify, .progress, .attach, .comments{
    background-size: 1rem;
    padding-left: 1.2rem;
  }
  .avatar{
    background-size: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  li:last-child{
    margin-left: auto;
  }
}

